   <!--
      - BANNER
    -->

    <div class="banner">

        <div class="container">

            <div class="slider-container has-scrollbar">

                <div class="slider-item">

                    <img src="https://res.cloudinary.com/dz9m3hhru/image/upload/v1673853380/Adventure%20Shop/banner-1_wipri1.png" alt="banner-1" class="banner-img">

                    <div class="banner-content">

                        <p class="banner-subtitle">Adventure Com Você</p>

                        <h2 class="banner-title">Na Sua Aventura</h2>

                        <p class="banner-text">
                            Ofertas a partir de R&dollar; <b>20</b>.00
                        </p>

                        <a href="#" class="banner-btn">Compre Agora!</a>

                    </div>

                </div>

                <div class="slider-item">

                    <img src="https://res.cloudinary.com/dz9m3hhru/image/upload/v1673853379/Adventure%20Shop/banner-2_hnopso.jpg" alt="banner-2" class="banner-img">

                    <div class="banner-content">

                        <p class="banner-subtitle">Itens em Promoção</p>

                        <h2 class="banner-title">Barraca Instant Mountain</h2>

                        <p class="banner-text">
                            A partir de R&dollar; <b>15</b>.00
                        </p>

                        <a href="#" class="banner-btn">Compre Agora!</a>

                    </div>

                </div>

                <div class="slider-item">

                    <img src="https://res.cloudinary.com/dz9m3hhru/image/upload/v1673853379/Adventure%20Shop/banner-3_q4h0wl.jpg" alt="banner-3" class="banner-img">

                    <div class="banner-content">

                        <p class="banner-subtitle">Itens Fresquinhos</p>

                        <h2 class="banner-title">Nova Coleção em Estoque!</p>
                        </h2>

                        <p class="banner-text">
                            Garanta o seu a partir de R&dollar; <b>299</b>.99
                        </p>

                        <a href="#" class="banner-btn">Confira Aqui!</a>

                    </div>

                </div>

            </div>

        </div>

    </div>