
    <header>

        <div class="header-top">

            <div class="container">

                <ul class="header-social-container">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="header-main">

            <div class="container">

                <a href="#" class="header-logo">
                    <img src="https://res.cloudinary.com/dz9m3hhru/image/upload/v1673853398/Adventure%20Shop/logo/logo_f3ix87.png" alt="Adventure Shop Logo" width="120" height="36">
                </a>

                <div class="header-search-container">

                    <input type="search" name="search" class="search-field" placeholder="Pesquise um produto...">

                    <button class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>

                </div>

                <div class="header-user-actions">

                    <button class="action-btn">

                        <a href="/login" class="action-btn">
                        <ion-icon name="person-outline"></ion-icon>
                         </a>
                    </button>

                    <button class="action-btn">
                        <ion-icon name="bag-handle-outline"></ion-icon>
                        <span class="count">0</span>
                    </button>

                </div>

            </div>

        </div>

        <nav class="desktop-navigation-menu">

            <div class="container">

                <ul class="desktop-menu-category-list">

                    <li class="menu-category">
                        <a href="/" class="menu-title">Página Inicial</a>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Categorias</a>

                        <div class="dropdown-panel">

                            <ul class="dropdown-panel-list">

                                <li class="menu-title">
                                    <a href="#">Para Dormir</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="/barracas">Barracas</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Sacos de Dormir</a>

                                <li class="panel-list-item">
                                    <a href="#">Colchões de Ar</a>

                                <li class="panel-list-item">
                                    <a href="#">Tendas</a>

                                <li class="panel-list-item">
                                    <a href="#">
                                        <img src="./assets/images/banner-dormir.png" alt="banner-dormir" width="250"
                                            height="119">
                                    </a>
                                </li>

                            </ul>


                            <ul class="dropdown-panel-list">

                                <li class="menu-title">
                                    <a href="#">Roupas</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Impermeáveis</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Camisa de Manga Curta</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Camisa de Manga Longa</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Botas</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Bonés</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">
                                        <img src="./assets/images/banner-roupas.jpg" alt="banner-roupas" width="250"
                                            height="119">
                                    </a>
                                </li>

                            </ul>

                            <ul class="dropdown-panel-list">

                                <li class="menu-title">
                                    <a href="#">Utensílios</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Lanterna</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Binóculos</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Bussolas</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Garrafa Térmica</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">Corda</a>
                                </li>

                                <li class="panel-list-item">
                                    <a href="#">
                                        <img src="./assets/images/banner-utensilios.jpg" alt="banner-utensilios"
                                            width="250" height="119">
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Roupas</a>

                        <ul class="dropdown-list">

                            <li class="dropdown-item">
                                <a href="#">Masculinas</a>
                            </li>

                            <li class="dropdown-item">
                                <a href="#">Femininas</a>
                            </li>

                            <li class="dropdown-item">
                                <a href="#">Botas</a>
                            </li>

                            <li class="dropdown-item">
                                <a href="#">Casacos</a>
                            </li>

                        </ul>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">Utensilios</a>

                        <ul class="dropdown-list">

                            <li class="dropdown-item">
                                <a href="#">Lanterna</a>
                            </li>

                            <li class="dropdown-item">
                                <a href="#">Corda</a>
                            </li>

                            <li class="dropdown-item">
                                <a href="#">Copo Térmico</a>
                            </li>
                        </ul>

            </div>

        </nav>

        <div class="mobile-bottom-navigation">

            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <button class="action-btn">
                <ion-icon name="bag-handle-outline"></ion-icon>

                <span class="count">0</span>
            </button>

            <button class="action-btn">
                <ion-icon name="home-outline"></ion-icon>
            </button>

            <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>

                <span class="count">0</span>
            </button>

            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="grid-outline"></ion-icon>
            </button>

        </div>

    </header>
