
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Shop - Com Você Na Sua Aventura!</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dz9m3hhru/image/upload/v1673853398/Adventure%20Shop/logo/favicon_whd2pe.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
